/* gave the background an image and defined its attributes */
body {
    background: url("../images/background.jpg") center/cover no-repeat;
    height: 95vh;
}

/* defined flexbox in header container */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    height: 20vh;
}

#logo, #tagline{
    font-family: Satisfy, cursive;
}

#logo {
    color: blue;
    font-size: 3em;
}

/* aligned the post buttons */
#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 40%;
}

#all_posts, #create_post {
    font-weight: bold;
    border: 1.5px solid black;
}

#staticBackdropLabel {
    padding-left: 35%;
    font-size: 2em;
}

/* media query for signup title */
@media(max-width: 500px){
    #staticBackdropLabel {
        padding-left: 30%;
        padding-right: 10%;
    }
}

/* media query for signup/signin button */
@media(max-width: 380px){
    #signup, #signin {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: 40px;
    }
}

/* media query for post buttons */
@media(max-width: 300px){
    #all_posts{
        margin-left: 35px;
    }
}

/* styling the sign up form */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.signupform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signupform input {
    margin-bottom: 10px;
    padding: 2.5%;
    margin-top: 5px;
    border: none;
    background-color: whitesmoke;
}

.label {
    margin-top: 2%;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.signupform .btn {
    margin-top: 3%;
    font-size: 1em;
    padding: 13px 0;
}

/* styling the sign in form */

.modal-dialog {
    display: flex;
    height: 90vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signinform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signinform input {
    margin-bottom: 10px;
    padding: 2.5%;
    margin-top: 5px;
    border: none;
    background-color: whitesmoke;
}

.signinform .btn {
    margin-top: 4.5%;
    font-size: 1em;
    padding: 13px 0;
}

#staticBackdropLabel1 {
    padding-left: 27%;
    font-size: 2em;
}

/* media query for signin title */
@media(max-width: 500px){
    #staticBackdropLabel1 {
        padding-left: 30%;
        padding-right: 10%;
    }
}

/* styling the footer of signin modal */

#openSignupModal {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 7%;
}

#openSignupModalSpan {
    color: blue;
    cursor: pointer;
}

.modal-header {
    align-items: center;
}

/* styling the all post button after linking it to bloglist.html */

#linkToBloglist {
    text-decoration: none;
    color: black;
}

/* styling the create post modal */

#staticBackdropLabel2 {
    font-size: 2em;
}

.createPostForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createPostForm .label {
    margin-top: 1%;
}

.createPostForm input, #createContent {
    margin-bottom: 10px;
    padding: 1.5%;
    margin-top: 5px;
    border: none;
    background-color: whitesmoke;
}

#createButton {
    margin-top: 2%;
    font-size: 1em;
    padding: 13px 0;
    width: 160px;
    height: 50px;
}

#staticBackdrop2 .modal-dialog {
    height: 90vh;
}

#createTitle {
    padding: 1%;
    width: 50%;
}

#createContent {
    height: 250px;
    padding: 1.5%;
}