/* gave the background an image and defined its attributes */
body {
    background: url("../images/background.jpg") center/cover no-repeat;
    height: 95vh;
}

/* defined flexbox in header container */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

#logo, #tagline{
    font-family: Satisfy, cursive;
}

#logo {
    color: blue;
    font-size: 3em;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
    font-weight: bold;
}
